
<header>
    <h1>Finstagram</h1>
</header>
<main role="main">
    <article class="finstagram-post">
        <div class="user-info">
            <img src="https://live.staticflickr.com/65535/52358606250_01c667c5da_w.jpg&quot;" alt="sharky_j">
            <h2>sharky_j</h2>
            <h3>15 minutes ago</h3>
        </div>
        <a class="photo" href="#">
            <img src="https://live.staticflickr.com/65535/52358421508_786aa10e2c_c.jpg&quot;" alt="post from sharky_j">
        </a>
        <div class="actions">
            0 likes
            <span class="comment-count">0 comments</span>
        </div>
        <ul class="comments">
            <li>
                <p>
                    sharky_j: out for the long weekend... too embarrassed to show y'all the beach bod!
                </p>
            </li>
        </ul>
    </article>
    <article class="finstagram-post">
        <div class="user-info">
            <img src=https://th.bing.com/th/id/OIP.PxXwgJpbbCJpZyqYAdqskgHaGX?w=215&h=184&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="kirk_whalum">
            <h2>kirk_whalum</h2>
            <h3> 1 hour ago</h3>
        </div>
        <a clas="photo">
            <img src="https://th.bing.com/th/id/OIP.CwPxZxgwJzw4pzUzHbPtiwHaE7?w=217&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="finstagram post from kirk_whalum">
        </a>
        <div class="actions">
            0 likes
            <span class="comment-count">0 comments</span>
        </div>
        <ul class="comments">
            <li>
                <p>
                    kirk-whalum: #weekendvibes
                </p>
            </li>
        </ul>
    </article>
    <article class="finstagram-post">
        <div class="user-info">
            <img src="https://th.bing.com/th/id/OIP.UAdOCHrFMwNV89i_gA_YYQHaEZ?w=274&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="marlin-peppa">
            <h2>marlin_peppa</h2>
            <h3> 1 hours ago</h3>
        </div>
        <a class="photo" href="#">
            <img src="https://th.bing.com/th/id/OIP.-MY2zDIk3U_x3VyqkUZUlwHaFB?w=264&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="finstagram post from marlin_peppa">
        </a>
        <div class="actions">
            0 likes
            <span class="comment-count">0 comments</span>
        </div>
        <ul class="comments">
            <li>
                <p>
                    marlin_peppa: lunchtime! ;)
                </p>
            </li>
        </ul>
    </article>
</main>
